menu "Protocol Analyzer Modules"

choice ANALYZER_MODE
    prompt "Active Protocol to Analyze"
    default ENABLE_UART_ANALYZER

config ENABLE_UART_ANALYZER
    bool "UART Analyzer"

config ENABLE_I2C_ANALYZER
    bool "I2C Analyzer"

endchoice

endmenu

source "Kconfig.zephyr"